@import url("http://fonts.googleapis.com/css?family=Droid+Serif");
@import url("http://fonts.googleapis.com/css?family=PT+Serif");
@import url("http://fonts.googleapis.com/css?family=Cutive");
@import url("http://fonts.googleapis.com/css?family=Arvo");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans");
@import url("http://fonts.googleapis.com/css?family=PT+Sans");
@import url("http://fonts.googleapis.com/css?family=Asap");
@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Cabin");
@import url("http://fonts.googleapis.com/css?family=Amaranth");
/* line 17, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* line 39, ../sass/main.sass */
body { background-color: #e8ecf2; font-family: helvetica; font-family: "Droid Sans"; }

/* line 44, ../sass/main.sass */
h1, h2, h3 { font-weight: bold; line-height: 1em; margin: 10px 0; font-family: "PT Sans"; text-transform: uppercase; }

/* line 51, ../sass/main.sass */
h1 { font-size: 1.8em; background-color: #5cbbe2; color: white; margin-top: -15px; padding-top: 15px; margin-right: -15px; padding-right: 15px; padding-bottom: 15px; margin-left: -15px; padding-left: 15px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

/* line 65, ../sass/main.sass */
h2 { font-size: 1.5em; color: #1778be; }

/* line 70, ../sass/main.sass */
h3 { font-size: 1.1em; color: #5cbbe2; margin-bottom: 2.5px; }

/* line 76, ../sass/main.sass */
p { padding-bottom: 10px; color: #222222; }

/* line 80, ../sass/main.sass */
hr { border: none; background-color: #5cbbe2; height: 3px; margin: 10px 0; }

/* line 86, ../sass/main.sass */
input[type="text"], input[type="password"] { border: 1px solid silver; border-radius: 5px; box-shadow: inset 0 0 4px silver; padding: 0.3em 0.5em; }

/* line 93, ../sass/main.sass */
textarea { resize: vertical; overflow: auto; border: 1px solid silver; border-radius: 5px; box-shadow: inset 0 0 10px silver; padding: 1em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 250px; }

/* line 106, ../sass/main.sass */
label { margin-right: 5px; }

/* line 109, ../sass/main.sass */
::selection { background-color: #1778be; color: white; text-shadow: none; }

/* line 113, ../sass/main.sass */
::-moz-selection { background-color: #1778be; color: white; text-shadow: none; }

/* line 126, ../sass/main.sass */
header { background-color: white; padding: 10px 0; }

/* line 131, ../sass/main.sass */
.top-logo { float: left; height: 82px; width: auto; margin: 20px; }

/* line 138, ../sass/main.sass */
.call_to_action { float: right; color: #72c4e6; padding: 38px 40px; margin-right: 16px; line-height: 1.3; border-left: 2px solid #c8e8f5; border-right: 2px solid #c8e8f5; border-radius: 50px; }

/* line 149, ../sass/main.sass */
.top-nav { background-color: #1778be; box-shadow: 0 12px 6px -10px rgba(0, 0, 0, 0.4) inset, 0 1px rgba(255, 255, 255, 0.75); }
/* line 152, ../sass/main.sass */
.top-nav a { color: white; text-decoration: none; padding: 12px 15px; display: inline-block; }

/* line 158, ../sass/main.sass */
#navigation ul { font-size: 16px; margin: 0; padding: 0; list-style: none; }
/* line 163, ../sass/main.sass */
#navigation ul li { display: block; position: relative; float: left; }
/* line 167, ../sass/main.sass */
#navigation ul li a { display: block; text-decoration: none; color: white; padding: 5px 15px 5px 15px; padding: 12px 15px; white-space: nowrap; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
/* line 177, ../sass/main.sass */
#navigation ul li a:hover { background: #5cbbe2; }
/* line 179, ../sass/main.sass */
#navigation ul li ul { display: none; width: 225px; border-radius: 0 0 5px 5px; box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3); z-index: 100; position: absolute; }
/* line 187, ../sass/main.sass */
#navigation ul li:hover ul { display: block; position: absolute; }
/* line 190, ../sass/main.sass */
#navigation ul li:hover li { float: none; }
/* line 192, ../sass/main.sass */
#navigation ul li:hover li a:hover { background: #7fc9e8; text-decoration: underline; }
/* line 195, ../sass/main.sass */
#navigation ul li:hover a { background: #5cbbe2; }

/* line 197, ../sass/main.sass */
.pages a { box-shadow: red, 0 0 rgba(255, 255, 255, 0); }

/* line 203, ../sass/main.sass */
.center { position: relative; max-width: 960px; margin: auto; padding: 0 10px; }

/* line 209, ../sass/main.sass */
.container { margin: 20px 0; background-color: white; color: #222222; padding: 15px 15px 25px 15px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); line-height: 1.3em; border-radius: 4px; position: relative; z-index: 1; }
/* line 220, ../sass/main.sass */
.container p { margin-bottom: 10px; }
/* line 222, ../sass/main.sass */
.container p:last-of-type { margin-bottom: 0; }
/* line 224, ../sass/main.sass */
.container > ul { margin-left: 20px; }
/* line 226, ../sass/main.sass */
.container > ul li { list-style: circle; }
/* line 228, ../sass/main.sass */
.container > img { float: right; padding: 6px; border: 1px solid rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); margin: 0 0 5px 5px; border-radius: 3px; }
/* line 235, ../sass/main.sass */
.container nav { margin-top: -15px; margin-right: -15px; margin-bottom: 15px; margin-left: -15px; }
/* line 241, ../sass/main.sass */
.container nav li { float: left; }
/* line 243, ../sass/main.sass */
.container nav li a { display: inline-block; padding: 7.5px 15px; color: inherit; text-decoration: none; }
/* line 248, ../sass/main.sass */
.container nav li a:hover, .container nav li a.active { background-color: #5cbbe2; color: white; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
@media (max-width: 660px) { /* line 209, ../sass/main.sass */
  .container { padding: 2%; } }

/* line 259, ../sass/main.sass */
.bottom-nav { padding: 0 10px; font-size: 0.8em; margin-bottom: 10px; }
/* line 263, ../sass/main.sass */
.bottom-nav ul { width: 25%; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-left: 3px solid #5cbbe2; padding: 0 10px; }
/* line 269, ../sass/main.sass */
.bottom-nav a { color: #5cbbe2; display: inline-block; margin: 0.3em 0; }
/* line 273, ../sass/main.sass */
.bottom-nav a:hover, .bottom-nav a:focus { color: #1778be; }
@media (max-width: 660px) { /* line 259, ../sass/main.sass */
  .bottom-nav { padding: 0 2%; } }

/* line 278, ../sass/main.sass */
.copyright { text-align: center; font-size: 0.8em; opacity: 0.5; display: block; margin-bottom: 10px; text-shadow: 0 1px white; }

/* line 290, ../sass/main.sass */
.cf { zoom: 1; }
/* line 292, ../sass/main.sass */
.cf:before, .cf:after { content: ""; display: table; }
/* line 295, ../sass/main.sass */
.cf:after { clear: both; }

/* line 298, ../sass/main.sass */
.btn { padding: 7px 13px; color: #115b91; background-color: #87cdea; border: 1px solid #1778be; border-radius: 3px; text-decoration: none; }
/* line 305, ../sass/main.sass */
.btn:hover { background-color: #1778be; color: #def1f9; }

/* line 325, ../sass/main.sass */
.img-box { box-shadow: 0 0 50px -10px black inset; background-image: url("../img/insulation.jpg"); background-size: 100% auto; height: 200px; padding: 10px; color: white; text-shadow: 0 1px 1px black; position: relative; margin: -15px -20px 0; }
/* line 336, ../sass/main.sass */
.img-box .text-box { position: absolute; bottom: 1em; }
/* line 339, ../sass/main.sass */
.img-box h1 { font-size: 2.4em; background-color: inherit; }
/* line 342, ../sass/main.sass */
.img-box p { margin-top: 1em; font-size: 1.2em; line-height: 1.4em; padding: 0 10px 0 0; color: inherit; }

/* line 350, ../sass/main.sass */
.img-wrap { width: 49.25%; float: left; position: relative; line-height: 0; }
/* line 356, ../sass/main.sass */
.img-wrap img { width: 100%; }
/* line 359, ../sass/main.sass */
.img-wrap .img-details { background: rgba(0, 0, 0, 0.5); color: white; text-shadow: 0 1px 1px black; padding: 10px; position: absolute; bottom: 0; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 368, ../sass/main.sass */
.img-wrap .img-title { font-size: 0.9em; line-height: 1.1em; font-weight: bold; }
/* line 372, ../sass/main.sass */
.img-wrap .img-text { font-size: 0.75em; line-height: 1.2em; display: none; }
/* line 377, ../sass/main.sass */
.img-wrap.img2, .img-wrap.img4 { margin-left: 10px; }
/* line 382, ../sass/main.sass */
.img-wrap.img3, .img-wrap.img4 { margin-top: 10px; }

/* line 393, ../sass/main.sass */
.message { border: 2px solid #1778be; color: #5cbbe2; font-weight: bold; margin: 1em 0; padding: 1em; }

/* line 400, ../sass/main.sass */
.error { border: 2px solid red; color: red; margin: 1em 0; padding: 1em; }
/* line 405, ../sass/main.sass */
.error ul { padding-left: 2em; }

/* line 19, ../sass/_shame.sass */
.view-content { margin: 1em 0; padding: 1em; border: 1px solid #999999; }

/* line 31, ../sass/_shame.sass */
.banner { position: relative; overflow: auto; }
/* line 34, ../sass/_shame.sass */
.banner li { list-style: none; float: left; }
/* line 37, ../sass/_shame.sass */
.banner a { text-decoration: none; color: white; }
/* line 40, ../sass/_shame.sass */
.banner .img-info { text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); position: absolute; bottom: 5px; background-color: rgba(0, 0, 0, 0.3); width: 902px; height: 90px; padding: 15px; }
/* line 48, ../sass/_shame.sass */
.banner .img-title { font-size: 1.3em; padding-bottom: 10px; display: inline-block; }
/* line 52, ../sass/_shame.sass */
.banner p { color: white; font-size: 1em; }

/* line 56, ../sass/_shame.sass */
.banner-wrap { height: 380px; }
