@import url("http://fonts.googleapis.com/css?family=Droid+Serif");
@import url("http://fonts.googleapis.com/css?family=PT+Serif");
@import url("http://fonts.googleapis.com/css?family=Cutive");
@import url("http://fonts.googleapis.com/css?family=Arvo");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans");
@import url("http://fonts.googleapis.com/css?family=PT+Sans");
@import url("http://fonts.googleapis.com/css?family=Asap");
@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Cabin");
@import url("http://fonts.googleapis.com/css?family=Amaranth");
/* line 17, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 33, ../scss/main.sass */
::selection {
  background-color: #1778be;
  color: white;
  text-shadow: none;
}

/* line 37, ../scss/main.sass */
::-moz-selection {
  background-color: #1778be;
  color: white;
  text-shadow: none;
}

/* line 42, ../scss/main.sass */
.cf {
  zoom: 1;
}
/* line 44, ../scss/main.sass */
.cf:before, .cf:after {
  content: "";
  display: table;
}
/* line 47, ../scss/main.sass */
.cf:after {
  clear: both;
}

/* line 50, ../scss/main.sass */
body {
  background-color: #e8ecf2;
  font-family: helvetica;
  font-family: "Droid Sans";
}

/* line 55, ../scss/main.sass */
h2, h3 {
  font-weight: bold;
  padding: 1.5%;
  font-family: "PT Sans";
  text-transform: uppercase;
}

/* line 69, ../scss/main.sass */
h2 {
  font-size: 1.5em;
  color: #1778be;
}

/* line 74, ../scss/main.sass */
h3 {
  font-size: 1.1em;
  color: #5cbbe2;
  margin-bottom: 0.375%;
}

/* line 80, ../scss/main.sass */
p {
  padding: 0 1.5%;
  color: #222222;
}

/* line 84, ../scss/main.sass */
hr {
  border: none;
  background-color: #5cbbe2;
  height: 3px;
  margin: 1.5%;
}

/* line 90, ../scss/main.sass */
ul {
  padding: 1.5%;
}

/* line 99, ../scss/main.sass */
.wrapper {
  max-width: 960px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

/* line 113, ../scss/main.sass */
.top-logo {
  margin: 20px;
}

/* line 116, ../scss/main.sass */
.top-nav {
  background-color: #5cbbe2;
}
/* line 118, ../scss/main.sass */
.top-nav ul {
  padding: 0;
}
/* line 120, ../scss/main.sass */
.top-nav li {
  float: left;
}
/* line 122, ../scss/main.sass */
.top-nav a {
  color: white;
  text-decoration: none;
  padding: 14px;
  display: inline-block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 128, ../scss/main.sass */
.top-nav a:hover {
  background-color: #1778be;
}

/* line 131, ../scss/main.sass */
.img-box {
  box-shadow: 0 0 50px -10px black inset;
  background-image: url("../img/insulation.jpg");
  background-size: 100% auto;
  height: 200px;
  padding: 1.5%;
  color: white;
  text-shadow: 0 1px 1px black;
  position: relative;
}
/* line 141, ../scss/main.sass */
.img-box .text-box {
  position: absolute;
  bottom: 1em;
}
/* line 144, ../scss/main.sass */
.img-box h1 {
  font-size: 2.4em;
  background-color: inherit;
}
/* line 147, ../scss/main.sass */
.img-box p {
  margin-top: 1em;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 0;
  color: inherit;
}

/* line 162, ../scss/main.sass */
.top-nav li ul {
  display: none;
}

/* line 165, ../scss/main.sass */
.test {
  margin-top: 500px;
  margin-bottom: 500px;
  border: 3px solid transparent;
}
